
<%- include("partials/header") -%>

<div id="loader" class="loader loader-curtain" data-curtain-text="Uploading..."></div>


<form  id="malla" action="/studyplan-graph" method="post">
    <div id="stage-parent">
        <div id="container">
            
        </div>
    </div>
    <div class="malla-home"><a href="/studyplan-data"><span class="icon"></span></a>
    </div>
    <div id="malla-form">
        <a href="#" class="btn-gradient blue" onclick="onSubmit()">
            Upload data to the cloud
        </a>
    </div>
    
    <input type="hidden" name="curriculum" id="hiddenInput" value="ahorita nada"/>
</form>

<script>
    var college = ("<%- college %>").toUpperCase();
    var faculty = ("<%- faculty %>").toUpperCase();
    var major   = ("<%- major %>").toUpperCase();
    var cvyear  = ("<%- cvyear %>").toUpperCase();
    var modify  = ("<%- modify %>");
</script>
<script src="https://unpkg.com/konva@4.0.4/konva.min.js"></script>
<script type="text/javascript" src="js/initials.js"></script>
<script type="text/javascript" src="js/vertex.js"></script>
<script type="text/javascript" src="js/edge.js"></script>
<script type="text/javascript" src="js/actions.js"></script>
<script type="text/javascript" src="js/upload.js"></script>

<%- include("partials/footer") -%>